<div id="content" layout="row" layout-align="center center">
    <div flex="25">
        <md-toolbar layout-xs="row" layout-align="center center" >
            <h1>LOGIN</h1>

        </md-toolbar>


        <md-input-container class="md-block">

            <label for="clientNameInput">Client Name</label>
            <form [ngFormModel]="myForm"
                  (ngSubmit)="onSubmit(myForm.value)"
                 >

                <div class="field"
                     [class.error]="!clientName.valid && clientName.touched">
                    <input type="text"
                           id="clientNameInput"
                           [ngFormControl]="clientName">
                    <div *ngIf="!clientName.valid"
                         md-message="required">client name is invalid</div>
                    <div *ngIf="clientName.hasError('required')"
                         md-message="required">client name is required</div>
                    <div *ngIf="clientName.hasError('invalid clientName')"
                         md-message="required">client name must begin with <tt>gonto</tt></div>
                </div>

                <div *ngIf="!myForm.valid">Form is invalid</div>
                <button type="submit">Submit</button>
            </form>


        </md-input-container>



    </div>
</div>