#welcome{
  width: 100%;
  text-align: center;
}
#headerText{
  font-size: 55px;
  font-weight: bold;
}
#loginButton{
  margin-top: 50px;
  width: 20%;
  background:#FF4747;

}
#registerButton{
  margin-top: 50px;
  width: 20%;
  background:#FF4747;	
}