a { color: inherit; }
a:hover { color: inherit; text-decoration: none;}
#welcome{
  width: 100%;
  color: #ffffff !important;
  text-align: center;
  vertical-align: text-bottom;
}
#headerText{
  font-size: 55px;
  font-weight: bold;
}
#headerDetail{
  font-size: 35px;
  font-weight: bold;

}
#loginButton{
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
#loginButton:hover{
  opacity: 0.7;
}
#registerButton{
  margin-top: 50px;
  width: 30%;
  height: 60px;
  padding:10px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  background:#FF4747;
}
#registerButton:hover{
  background:#FF2020;
}
.navbar{
  text-align: center;
}
#navText{
  opacity: 0.1;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}


.centerMe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: #333333;
  border-top-color: #FF4747;
  -webkit-animation: fade2 1s infinite;
          animation: fade2 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:after, .loading:before {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 10px;
  background: #333333;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border-radius: 10%;
  -webkit-animation: fade1 1s infinite;
          animation: fade1 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:before {
  left: 15px;
  -webkit-animation: fade3 1s infinite;
          animation: fade3 1s infinite;
}

@-webkit-keyframes fade1 {
  0% {
    background: #FF4747;
  }
}

@keyframes fade1 {
  0% {
    background: #FF4747;
  }
}
@-webkit-keyframes fade2 {
  33% {
    background: #FF4747;
  }
}
@keyframes fade2 {
  33% {
    background: #FF4747;
  }
}
@-webkit-keyframes fade3 {
  66% {
    background: #FF4747;
  }
}
@keyframes fade3 {
  66% {
    background: #FF4747;
  }
}

#logoImgSingle {
  width: 40%;
  height: 40%;
}
