.container {
	min-height: 0px;
	width: 1024px;
    margin: 0 auto;
}

.boards-section-header{
	width: 1024px;
	height: 35px;
}


.md-block-new-board{
  position: relative;
	margin: auto;
	margin-left: 20px;
    top: 10px;
	z-index: 200;
	right: 0;
	min-width: 250px;
	max-width: 550px;
	width: 60%;
	max-height: 80px;
	color:#666;
	border-radius: 10px;
	background:rgba(255,255,255,1);
	border-top: 2px solid #C0C0C0;
	border-bottom: 2px solid #FF4747;

	@media screen and(max-width: 571px){
		max-height: 120px;
	}
}

#input-newBoardName{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	width: 70%;
	min-width: 70px;
	position: relative;

	@media screen and(max-width: 765px){
		width: 60%;
	}

	@media screen and(max-width: 560px){
		width: 90%;
	}
}


#button-addNewBoard{
	margin: 8px;
	margin-right: 5px;
	color: #fff;
	background: #FF4747;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	height: 50px;
	width: 90px;
	padding-top: 14px;
	cursor: pointer;
	border-radius: 10px;
	float: right;

	@media screen and(max-width: 560px){
		float: left;
		margin-top: 10px;
		margin-left: 10px;
	}
}

#button-addNewBoard:hover{
	background:#FF2020;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

#header-name{
	color: #fff;
	font: 30px;
	font-family: sans-serif;
	margin: 60px;
	margin-left: 80px;
	margin-bottom: 20px;
}

.buttons{
	position: relative;
	width: 100%;
	margin: auto;
	z-index: 200;
}

.buttons md-button{
	background: #FF4747;
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-weight: 700;
	min-width: 150px;
	width: 15%;
	height: 80px;
	margin: 20px;
	display: inline-block;
	cursor: pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 10px;
	padding-top: 28px;
}


.buttons md-button:hover{
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.md-raised-button:hover{
	background-color: #FFffff;
	color: #FF4747;
}

.md-raised-button span {
  cursor: pointer;
  transition: 0.4s;
  width: 140px;
  height: 40px;
}


.buttons-list{
	float: left;
}
