<md-card  layout="column" >
    <div layout="row">
        <md-card-title class="tasks-title">{{category.name}}</md-card-title>
        <md-button-menu id="menu-icon" class="material-icons">&#xE150;</md-button-menu>
    </div>
<div>
    <div *ngIf="taskz" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content taskModal" >
                <div id="task-name">
                    <md-button-close id="close-icon" class="material-icons">&#xE5CD;</md-button-close>
                    <div id="header-task-name"><h> {{taskz.name}}</h></div>
                </div>
                <div layout="column">
                    <md-content id="task-content">
                      <div style="float: left;">{{taskz.opis}}</div>
                      <div id="addDeadline" style="float: right;">
                          <i id="datepicker-button" class="material-icons">timer</i>
                          <span id="header-deadline" style="margin-top: -2px;">{{taskz.deadline}}</span>
                      </div>
                    </md-content>

                    <task-add-checklist [task]="taskz"></task-add-checklist>


                </div>
            </div>
        </div>
    </div>
    <md-buttons-container  class="tasks" layout-align="center center">
        <div id="sortable1" class="connectedSortable taskList" layout="column">

            <md-button-task class="task" *ngFor="let task of tasks"  data-toggle="modal"
                            data-target=".bd-example-modal-lg">


                <task-detail [task]="task" (shoTask)="setTask($event)"></task-detail>


            </md-button-task>
            <!--<md-button-task class="task" *ngFor="let task of tasks" (click)="clicked()" data-toggle="modal" data-target=".bd-example-modal-lg"><span>{{task.name}}</span></md-button-task>-->
        </div>
    </md-buttons-container>
</div>
    <task-new [board]="board" [category]="category" (refreshBoard)="getCategory()"></task-new>
</md-card>
