<div *ngIf="board">
<md-toolbar-info class="info-toolbar" layout="row">
      <div>
        BOARD ID: {{board.id}} NAZWA: {{board.name}} AUTOR: {{board.author}}
      </div>
</md-toolbar-info>

  <div id="boards" layout="row">
    <div class="board">
      <md-card  layout="column" >
        <div layout="row">
          <md-card-title class="tasks-title">STORIES</md-card-title>
          <md-button-menu id="menu-icon" class="material-icons">&#xE150;</md-button-menu>
        </div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content taskModal">
              SUPER MODAL
            </div>
          </div>
        </div>
        <md-buttons-container  class="tasks" layout-align="center center">
          <div id="sortable1" class="connectedSortable taskList" layout="column">
            <task-list [board]="board"></task-list>
            <!--<md-button-task class="task" *ngFor="let task of tasks" (click)="clicked()" data-toggle="modal" data-target=".bd-example-modal-lg"><span>{{task.name}}</span></md-button-task>-->
          </div>
          <div class="taskList" *ngIf="hideInput==true" layout="column">
            <md-button-task class="task"><span><input/></span></md-button-task>
          </div>
        </md-buttons-container>
        <md-button (click)="showInput()" *ngIf="hideInput==false" class="button-addNewTask">Add</md-button>
        <md-button (click)="showInput()" *ngIf="hideInput==true" class="button-addNewTask">Add Task</md-button>
      </md-card>
    </div>

    <div class="board">
      <md-card  layout="column" >
        <div layout="row">
          <md-card-title class="tasks-title">TODO</md-card-title>
          <md-button-menu id="menu-icon" class="material-icons">&#xE150;</md-button-menu>
        </div>
        <md-buttons-container  class="tasks" layout-align="center center">
          <div id="sortable2" class="connectedSortable taskList" layout="column">
            <md-button-task class="task" (click)="clicked()" data-toggle="modal" data-target=".bd-example-modal-lg"><span>TASK</span></md-button-task>
          </div>
        </md-buttons-container>
        <md-button class="button-addNewTask">Add</md-button>
      </md-card>
    </div>

    <div class="board">
      <md-card  layout="column" >
        <div layout="row">
          <md-card-title class="tasks-title">IN PROGRESS</md-card-title>
          <md-button-menu id="menu-icon" class="material-icons">&#xE150;</md-button-menu>
        </div>
        <md-buttons-container class="tasks" layout-align="center center">
          <div id="sortable2" class="connectedSortable taskList" layout="column">
            <md-button-task class="task" (click)="clicked()" data-toggle="modal" data-target=".bd-example-modal-lg"><span>TASK</span></md-button-task>
          </div>
        </md-buttons-container>
        <md-button class="button-addNewTask">Add</md-button>
      </md-card>
    </div>

    <div class="board">
      <md-card  layout="column" >
        <div layout="row">
          <md-card-title class="tasks-title">TESTING</md-card-title>
          <md-button-menu id="menu-icon" class="material-icons">&#xE150;</md-button-menu>
        </div>
        <md-buttons-container class="tasks" layout-align="center center">
          <div id="sortable2" class="connectedSortable taskList" layout="column">
            <md-button-task class="task" (click)="clicked()" data-toggle="modal" data-target=".bd-example-modal-lg"><span>TASK</span></md-button-task>
          </div>
        </md-buttons-container>
        <md-button class="button-addNewTask">Add</md-button>
      </md-card>
    </div>

    <div class="board">
      <md-card  layout="column" >
        <div layout="row">
          <md-card-title class="tasks-title">DONE</md-card-title>
          <md-button-menu id="menu-icon" class="material-icons">&#xE150;</md-button-menu>
        </div>
        <md-buttons-container class="tasks" layout-align="center center">
          <div id="sortable2" class="connectedSortable taskList" layout="column">
            <md-button-task class="task" (click)="clicked()" data-toggle="modal" data-target=".bd-example-modal-lg"><span>TASK</span></md-button-task>
          </div>
        </md-buttons-container>
        <md-button class="button-addNewTask">Add</md-button>
      </md-card>
    </div>

  <router-outlet></router-outlet>

</div>
</div>