.registerForm{
  position: relative;
	margin: auto;
  top: 60px;
	left: 0;
	z-index: 200;
	right: 0;
	width:600px;
	color:#666;
	padding:10px 0px;
	border-radius: 10px;
	background:rgba(255,255,255,1);
	border-top: 2px solid #C0C0C0;
	border-bottom: 2px solid #F00;
}

.registerForm button{
	background:#FF4747 ;
	border:0;
	color:#fff;
	padding:10px;
	font-size:20px;
	width:70%;
	margin:20px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 10px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: red !important;
    display: flex;
}

.registerForm button:active{
	background:#27ae60;
}

.registerForm button:hover{
	background:#FF2020;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.container{
 
}

#title{
  text-align: center;
}

#test1{
  width: 70%;
  margin: auto;
}
a {
	text-decoration: none;
}
body{

  background-color: #333 !important;
  height: 100%;
}

.md-input-focused .inputTitle{
  color: red !important;
}


